body{
    background-color: rgb(89, 184, 219);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: tomato;
    padding: 15px;
    margin-bottom: 50px;
  }
  #navbar > a {
    color: white;
    text-decoration: none;
  }

  #container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 90%;
    margin: auto;
    border: 2px solid red;
    padding: 10px 10px ;
  }

  #container > div {
    border: 2px solid rgb(249, 215, 81);
    border-radius: 10px;
    text-align: center;

  }

  #container>div>img{
         height: 210px;
         border-radius: 10px;
  }