#loginCont{
    height: 800px;
    width: 100%;
    display: flex;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin: auto;
    background-color: rgb(213, 232, 246);
}

#left{
     padding-left: 100px;
}

#headText{
    text-decoration: none;
    font-size: 50px;
}

#leftImg>img{
    height: 600px;
    width: 80%;
}


input{
    height: 30px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(231, 244, 86); 
    border: rgb(93, 87, 87);
    color: black;

}

#submit{
    background-color: rgb(209, 244, 68);
}


#head{
    height: 150px;
}

#signupPage{
    height: 300px;
    padding-top: 40px;
    font-weight: 700;
    font-size: 25px; 
}

#signupPage>form>input{
    margin: 2px;
    font-size: 18px;
  
}

 #logSubmit, #submit{
    background-color: rgb(227, 29, 29);
}

#form>input{
    margin: 2px;
    font-size: 18px;
}

